<div>
    <span class="navbar-text">
        
    </span>
    <a asp-action="Index" asp-controller="Account">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </a>
</div>